[manifest]
version = "1.0.0"
priority = 0

# Sneak into the splash screen function to run last-second code
[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
position = "after"
pattern = "hand_space = math.min(#G.deck.cards, flags.cards_to_draw or flags.modify or hand_space)"
payload = '''
hand_space = hand_space and hand_space > 0 and (hand_space + (G.GAME.bonus_draw or 0)) or hand_space
hand_space = hand_space + (G.GAME.force_bonus_draw or 0)
'''
match_indent = true
